input[type="button"]{
  height: 25px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: inherit;
  width: 150px;
  border-radius: 5px;
}

input{
  font-family: inherit;
}

a{
  cursor: pointer;
}

.search_bar_wrap{
  position:sticky; 
  top:0px; 
  background-color:white; 
  padding-top:10px;
  padding-bottom:20px;
}

.order_button{
  background-color: #3898ec;
  width: 80px !important;
}

.order_qty{
  width: 80px;
  text-align: right;
  text-align: end;
  display: block;
  height: 30px;
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  text-align: right !important;
  font-size: 12px !important;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align-last: center;
}

.location_name_text {
  width: 128px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

.order_form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
}

.order_product {
  margin-top: 10px;
  width: 80%;
  text-align: center;
}

.order_form_block {
  margin-top: 40px;
}

.order_frame {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: dimgray;
  height: 60vh;
  width: 35vw;
  border-radius: 10px;
  margin-left: 32vw;
  margin-top: 15vh;
  position: relative;
  overflow: hidden;
}

.order_top_most{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.order_close_bar{
  position: absolute;
  top: 0;
  right: 0;
  font-family: 'Nunito';
  width: 100%;
  text-align: end;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 8px;
  background-color: blue;
  color: white;
}

.product_pic {
  width: 64px;
  border-radius: 10px;
}

.product_description_text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 22px;
  line-height: 1.5em;
  text-align: -webkit-center;
}

.product_description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #f5eaea;
}

.product_frame {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: transparent;
}

.product_pic_frame {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 25%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.search_locations {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.location_name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.location_image {
  width: 128px;
  height: 128px;
  border-radius: 5px;
}

.order_image {
  width: 64px;
  height: 64px;
  border-radius: 5px;
}

.location_picture_frame {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.search_location_frame {
  width: 50%;
}

.seacrh_locations {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.search_button {
  margin-left: 10px;
  border-radius: 20px;
  background-color: #3898ec;
  height: 100% !important;
}

.search_bar {
  margin-bottom: 0px;
  border-style: solid;
  border-width: 1px;
  border-color: #8d8d8d;
  border-radius: 20px !important;
  width: 100%;
}

.search_form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 99.99985786421182%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.search_block {
  width: 57%;
  margin-bottom: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.search_wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.ui_section {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 20px;
  width: 90%;
  margin-left: 5%;
  border-radius: 10px;
}

.ui_section.bbg {
  background-color: #000;
}

.ui_section.rbg {
  background-color: #e90e0e;
}

.field_wrap{
  width: 100%;
  font-family: inherit;
}

.field_label{
  padding-bottom: 5px;
  padding-left: 5px;
}

.empty_list{
  text-align: center;
  color:#ed0000;
  font-family: inherit;
  line-height: 1.5em;
  font-size: 36px;
  margin-top: 80px;
}

.bodyClass{
  font-family: 'Sofia Pro 400';
  font-size: 14px;
}

.accept_button{
  background-color: #3898EC;
  width: 150px;
}

.discard_button{
  background-color: darkgreen;
  width: 150px;
}

.delete_button{
  background-color: red;
  width: 80px;
}

.edit_button{
  background-color: chocolate;
  width: 150px;
}

.agregate_button{
  background-color: darkgreen;
  width: 80px;
}

.shadowRight{
  box-shadow: 4px 4px 3px 0 #000;
}

.action_result_message{
  width: 100%;
  font-size: x-large;
  line-height: 1.5em;
  text-align: center;
  padding: 30px;
}

.action_button{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  grid-column: 1;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  grid-row: 1;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.unauthorized_action{
  position: absolute;
  right: 10px;
  top: 0px;
  padding: 0px;
  color: #ed0000;
  font-size: 14px;
}

.w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  grid-row: 1;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

body {
  color: #333;
}

.page-header {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 30vh;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  border-bottom: 2px solid #000;
}

.logo {
  height: 30vh;
}

.title-frame {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 70%;
}

.text-block {
  font-size: 36px;
  line-height: 1.5em;
}

.text_shadow{
  text-shadow: 3px 2px 2px black;
}

.body {
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
}

.page-title {
  font-size: 20px;
  line-height: 1.5em;
  text-align: center;
}

.page-title-frame {
  padding-top: 20px;
  padding-bottom: 20px;
}

.order-header {
  border: 1px solid #000;
  font-size: 16px;
  line-height: 1.5em;
  text-align: center;
}

.order-line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.order-lines-header-frame {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.line-column.header {
  width: 6.90453787304728%;
  border-bottom: 1px solid #000;
}

.line-column.column-1 {
  width: 22%;
  text-align: center;
}

.line-column.column-2 {
  width: 42%;
}

.line-column.column-2.header {
  border-bottom-style: solid;
}

.line-column.column-3 {
  width: 12%;
  text-align: right;
}

.line-column.column-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.line-header-text {
  line-height: 1.5em;
  font-weight: 300;
  text-align: center;
}

.column-text {
  font-size: 17px;
  line-height: 1.5em;
  font-weight: 300;
}

.item-name {
  display: none;
}

.form-block {
  margin-bottom: 0px;
}

.checkbox-label {
  display: none;
}

.form-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.submit-button {
  border-radius: 15px;
  font-size: 18px;
}

.page_title_frame {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 15vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom: 1px solid #000;
}

.page_title {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-size: 36px;
  line-height: 1.5em;
  background-color: dimgray;
  color: aliceblue;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  text-align: center;
}

.buttons_frame_height{
  height: 60px;
}

.admin_panel_section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: center;
}

.option_frame {
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.option_text {
  font-size: 26px;
  line-height: 1.5em;
}

.user_div{
  border-bottom: 1px solid #000;
  padding-top: 30px;
  padding-bottom: 30px;
  display: block;
}

.user_section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 90px;
  height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.user_section.horizontal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.user_name {
  width: 30%;
}

.user_form_block {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-top: 30px;
  padding-bottom: 30px;}

.user_form {
  line-height: 1.5em;
}

.user_data_1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.user_data_2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.user_data_2.center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.user_email {
  width: 30%;
  margin-left: 5%;
  text-transform: lowercase;
}

.email_taken {
  color:#ed0000;
  margin-top: 30px;
}

.user_password {
  width: 30%;
}

.user_password_confirm {
  width: 30%;
  margin-left: 5%;
}

.user_add_section{
  border-bottom: 1px solid #000;
}

.user_add_button {
  padding-top: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  margin-left: 5%;
  -webkit-box-pack: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.user_button{
  border-radius: 5px;
  height: 25px;
  width: 115px;
  color: white;
  text-transform: uppercase;
  box-shadow: 4px 4px 3px 0 #000;
}

.user_add_button.two {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.add_icon_frame{
  width: 100%;
  text-align: end;
  padding: 10px;
  font-size: xx-large;
  color: orange;

}

.user_add_icon{
  width: 100%;
  text-align: end;
  padding: 10px;
  font-size: xx-large;
  color: orange;
}

.add_input {
  min-height: 30px;
  padding-bottom: 10px;
  background-color: transparent;
}

.user_type {
  width: 30%;
  margin-left: 5%;
  display: block;
}

.edited_user_type{
  width: 100%;
}

.no_admin_left{
  color: #ed0000;
}

.user_edit_action_result{
  display: block;
  text-align: center;
  font-size: 24px;
  line-height: 1.5em;
}

.add_user_button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80px !important;
  height: 35px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
}

.edit {
  height: 25px;
}

.edited_email{
  width: 100%;
}

.new_password_form{
  width: 100;
}

.add_user_button.delete {
  background-color: #ed0000;
}

.add_user_button.password {
  background-color:darkgreen;
}

.user_edit_section {
  padding-left: 10px;
  width: 28%;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  line-height: 1.5em;
}

.user_edit_section.edit {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.user_edit_section.center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 115px;
  height: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: flex-end;
}

.user_field_header {
  padding-left: 10px;
  background-color: #b2b2b2;
  border-radius: 15px;
}

.box_shadow{
  box-shadow: 4px 4px 3px 0 #000;
}

.user_field_content {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
}


.user_password_section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.password_change_result{
  font-size: large;
  line-height: 1.5em;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.user_password_reset {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.create_discard_passwd_button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 230px;
  height: 46px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 15px;
  font-size: 14px;
  box-shadow: 4px 4px 3px 0 #000;
}

.create_discard_passwd_button.edit {
  height: 20px;
}

.create_discard_passwd_button.delete {
  background-color: #ed0000;
}

.supplier_data_form_buttons{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 20px;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.authenticated_user {
  position: absolute;
  padding-right: 10px;
  padding-top: 10px;
  text-align: end;
  text-decoration: underline;
  top: 0px;
  right: 0px;
  height: 40px;
}

.save_session_expired{
  display: block;
  color: #ed0000;
}

.supplier_add_icon{
  width: 100%;
  border-bottom: 1px solid #000;
  text-align: end;
  padding: 10px;
  font-size: xx-large;
  color: orange;
}

.supplier_add_input {
  min-height: 30px;
  padding-bottom: 10px;
}

.supplier_section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 30vh;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
  font-family: inherit;
  line-height: 1.5em;
}

.supplier_data_entry {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.supplier_pic_frame {
  width: 256px;
  text-align: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-left: 10%;
  border-radius: 10px;
  overflow: hidden;
}

.supplier_pic {
  max-width: 256px;
}

.edition_button{
  border-radius: 10px;
  width: 150px;
  align-self: center;
  height: 35px;
}

.create_button {
  background-color: darkblue;
}

.supplier_data_edit {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 100%;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  line-height: 1.5em;
}

.supplier_data_entry_buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 20px;
}

.supplier_data_field{
  background-color: dimgray;
  color: white;
  padding: 5px;
  border-radius: 5px;
  padding-left: 20px;
  margin-bottom: 10px;
}

.products_body {
  font-family: 'Sofia Pro 400', sans-serif;
  line-height: 1.5em;
}

.add_section_wrap {
  position: relative;
}

.add_icon_frame {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  border-bottom: 1px solid #000;
}

.add_icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 35px;
  background-color: transparent;
  color: #ef980e;
  font-size: inherit;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #000;
}

.pic_frame {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.picture {
  width: 256px;
  border-radius: 10px;
}

.data_entry {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 14px;
}

.add_form_frame {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  height: 100%;
  margin-bottom: 0px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.add_frame {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text_field{
  width: 100%;
}

.add_buttons_frame {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 12px;
}

.section_html {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #000;
}

.data_field {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height:25px;
  max-height: 80px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 12px;
  background-color: #8d8d8d;
}

.data_entry_buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.add_button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  height: 46px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 15px;
  font-size: 14px;
}

.add_button.delete {
  background-color: #ed0000;
}

.add_button.edit {
  height: 30px;
  border-radius: 10px;
}

.edit_section_html {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #000;
}

.data_edit {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  line-height: 1.5em;
}

.po_to_count_section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 20vh;
  color: white;
  font-family: inherit;
}

.po_pic_frame {
  width: 25%;
  text-align: -webkit-center;
}

.po_description {
  width: 60%;
}

.po_due_date {
  width: 15%;
  text-align: -webkit-center;
  padding-top: 3%;
}

@media screen and (max-width: 991px) {
  .search_form {
    display: block;
    text-align: center;
  }

  .search_button{
    margin-top: 25px;
  }
  
  .search_block{
    width: 70%;
  }

  .data_edit {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .data_field {
    padding-left: 20px;
    border-radius: 5px;
  }

  .add_icon_frame {
    border-bottom: 1px solid #000;
  }

  .supplier_section {
    padding-top: 20px;
    border-bottom: 1px solid #000;
  }

  .supplier_data_edit {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .supplier_data_field {
    width: 100%;
    padding-left: 20px;
  }

  .supplier_data_entry_buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {

  .order_qty{
    display: block;
    height: 30px;
    padding-right: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    text-align: right !important;
    font-size: 12px !important;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align-last: center;
  }
  
  .order_frame {
    width: 70vw;
    margin-left: 15vw;
  }

  .data_entry_buttons {
    display: block;
    width: auto;
  }

  .bottom_button{
    margin-top: 20px;
  }

  .picture {
    height:20vh;
    width: auto;
  }
  
  .search_locations {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .location_picture_frame.left {
    padding-bottom: 80px;
  }

  .location_picture_frame {
    padding-top: 20px;
  }

  .seacrh_locations {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .search_form {
    width: 100%;
  }

  .ui_section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 10px;
  }

  .add_frame{
    min-height: 85vh;
  }

  .data_edit{
    min-height: 90vh;
    padding-top: 50px;    
  }

  .add_form_frame {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-top: 50px;
  }

  .edit_section_html {
    min-height: 105vh;
    padding-bottom: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .add_button {
    font-size: 12px;
  }

  .section_html {
    min-height: 105vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .add_buttons_frame {
    padding-top: 40px;
  }

  .pic_frame {
    width: 80%;
  }

  .section {
    min-height: 105vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .page_title{
    font-size: 26px;
  }

  .supplier_data_form_buttons{
    display: grid;
    min-height: 25vh;
  }

  .title-frame {
    width: auto;
  }
  
  .supplier_pic_frame{
    margin-bottom: 20px;
    margin-left: 0px;;
  }

  .page-header {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .text-block {
    font-size: 26px;
    text-align: center;
  }

  .order-header {
    border-style: none none solid;
  }

  .order-frame {
    margin-bottom: 20px;
    border: 4px solid #000;
  }

  .order-line {
    width: 100%;
    padding-bottom: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-bottom: 1px solid #000;
  }

  .order-lines-header-frame {
    display: none;
  }

  .line-column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .line-column.column-1 {
    width: 100%;
  }

  .line-column.column-2 {
    width: 100%;
  }

  .line-column.column-3 {
    width: 100%;
  }

  .line-column.column-4 {
    width: 100%;
  }

  .column-text {
    width: 70%;
    padding-left: 10px;
    text-align: left;
  }

  .item-name {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 30%;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: right;
  }

  .form-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }

  .checkbox-label {
    display: none;
  }

  .form {
    padding-left: 10px;
  }

  .form-2 {
    margin-top: 15px;
  }

  .admin_panel_section {
    height: 500px;
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .option_frame {
    height: 42%;
  }

  .option_text {
    font-size: 18px;
  }

  .user_section {
    height: 375px;
  }

  .user_section.horizontal {
    padding-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .user_name {
    width: 100%;
  }

  .user_data_1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .user_data_2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  .user_email {
    width: 100%;
    margin-left: 0%;
  }

  .user_password {
    width: 100%;
  }

  .user_password_confirm {
    width: 100%;
    margin-left: 0%;
  }

  .user_add_button {
    width: 100%;
    margin-left: 0%;
    padding-top: 40px;
  }

  .user_password_section {
    height: 130px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .user_type {
    width: 100%;
    margin-left: 0%;
    display: block;
  }

  .add_user_button {
    font-size: 12px;
  }

  .user_edit_section {
    width: 70%;
    padding-bottom: 20px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .user_edit_section.center {
    width: 50%;
    height: 60px;
    padding-bottom: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .user_password_reset {
    padding-left: 10%;
    padding-right: 10%;
  }

  .supplier_section {
    min-height: 80vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .po_to_count_section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .po_pic_frame {
    width: 100%;
  }

  .po_description {
    width: 100%;
    margin-top: 40px;
  }

  .po_due_date {
    width: 100%;
    text-align: center;
    margin-top: 40px;
  }
}

@media screen and (max-width: 479px) {

  .location_name {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .search_button {
    font-size: 12px;
  }

  .ui_section {
    min-height: auto;
  }

  .data_field {
    font-size: 12px;
  }

  .add_buttons_frame {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: auto;
    height: 20vh;
  }

  .text-block {
    font-size: 18px;
    text-shadow: 3px 2px 4px black;
  }

  .page_title{
    font-size: 16px;
  }

  .option_frame {
    width: 200px;
  }

  .user_form {
    line-height: 1.5em;
  }

  .user_edit_section {
    line-height: 1.5em;
  }

  .user_edit_section.center {
    width: 90%;
  }

  .create_discard_passwd_button {
    font-size: 12px;
  }
}

@font-face {
  font-family: 'Sofia Pro 400';
  src: url('../fonts/SofiaProBold.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sofia Pro 700';
  src: url('../fonts/SofiaProBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sofiapro';
  src: url('../fonts/sofiapro-light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
