.bodyClass{
  font-family: 'Sofia Pro 400';
  font-size: 14px;;
}

.action_button{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.unauthorized_action{
  position: absolute;
  right: 10px;
  top: 0px;
  padding: 0px;
  color: #ed0000;
  font-size: 14px;
}

.w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

body {
  color: #333;
}

.page-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 30vh;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  border-bottom: 2px solid #000;
}

.logo {
  height: 30vh;
}

.title-frame {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block {
  font-size: 36px;
  line-height: 1.5em;
}

.body {
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
}

.page-title {
  font-size: 20px;
  line-height: 1.5em;
  text-align: center;
}

.page-title-frame {
  padding-top: 20px;
  padding-bottom: 20px;
}

.order-header {
  border: 1px solid #000;
  font-size: 16px;
  line-height: 1.5em;
  text-align: center;
}

.order-line {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.order-lines-header-frame {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.line-column.header {
  width: 6.90453787304728%;
  border-bottom: 1px solid #000;
}

.line-column.column-1 {
  width: 22%;
  text-align: center;
}

.line-column.column-2 {
  width: 42%;
}

.line-column.column-2.header {
  border-bottom-style: solid;
}

.line-column.column-3 {
  width: 12%;
  text-align: right;
}

.line-column.column-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.line-header-text {
  line-height: 1.5em;
  font-weight: 300;
  text-align: center;
}

.column-text {
  font-size: 17px;
  line-height: 1.5em;
  font-weight: 300;
}

.item-name {
  display: none;
}

.form-block {
  margin-bottom: 0px;
}

.checkbox-label {
  display: none;
}

.form-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.submit-button {
  border-radius: 15px;
  font-size: 18px;
}

.page_title_frame {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 15vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom: 1px solid #000;
}

.page_title {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-size: 36px;
  line-height: 1.5em;
}

.admin_panel_section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: center;
}

.option_frame {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: 4px 4px 8px 0 #000;
}

.option_text {
  font-size: 26px;
  line-height: 1.5em;
}

.user_div{
  border-bottom: 1px solid #000;
  padding-top: 30px;
  padding-bottom: 30px;
  display: block;
}

.user_section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 90px;
  height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.user_section.horizontal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.user_name {
  width: 30%;
}

.user_form_block {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  padding-top: 30px;
  padding-bottom: 30px;}

.user_form {
  line-height: 1.5em;
}

.user_data_1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.user_data_2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.user_data_2.center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.user_email {
  width: 30%;
  margin-left: 5%;
  text-transform: lowercase;
}

.email_taken {
  color:#ed0000;
  margin-top: 30px;
}

.user_password {
  width: 30%;
}

.user_password_confirm {
  width: 30%;
  margin-left: 5%;
}

.user_add_section{
  border-bottom: 1px solid #000;
}

.user_add_button {
  padding-top: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  margin-left: 5%;
  -webkit-box-pack: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.user_button{
  background-color: #3898EC;
  border-radius: 15px;
  height: 25px;
  width: 115px;
  color: white;
  text-transform: uppercase;
}

.user_add_button.two {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.user_add_icon{
  width: 100%;
  text-align: end;
  padding: 10px;
  font-size: xx-large;
  color: orange;
}

.user_add_input {
  min-height: 30px;
}

.user_type {
  width: 30%;
  margin-left: 5%;
  display: block;
}

.edited_user_type{
  width: 100%;
}

.no_admin_left{
  color: #ed0000;
}

.user_edit_action_result{
  display: block;
  text-align: center;
  font-size: 24px;
  line-height: 1.5em;
}

.add_user_button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  height: 35px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 15px;
}

.edit {
  height: 20px;
}

.edited_email{
  width: 100%;
}

.new_password_form{
  width: 100;
}

.add_user_button.delete {
  background-color: #ed0000;
}

.add_user_button.password {
  background-color:darkgreen;
}

.user_edit_section {
  padding-left: 10px;
  width: 28%;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  line-height: 1.5em;
}

.user_edit_section.edit {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.user_edit_section.center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 115px;
  height: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: flex-end;
}

.user_field_header {
  padding-left: 10px;
  background-color: #b2b2b2;
  border-radius: 15px;
}

.user_field_content {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
}


.user_password_section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.password_change_result{
  font-size: large;
  line-height: 1.5em;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.user_password_reset {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.create_discard_passwd_button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 230px;
  height: 46px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 15px;
  font-size: 14px;
}

.create_discard_passwd_button.edit {
  height: 20px;
}

.create_discard_passwd_button.delete {
  background-color: #ed0000;
}

.supplier_data_form_buttons{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.authenticated_user {
  position: absolute;
  padding-right: 10px;
  padding-top: 10px;
  text-align: end;
  text-decoration: underline;
  top: 0px;
  right: 0px;
  height: 40px;
}

.save_session_expired{
  display: block;
  color: #ed0000;
}

.supplier_add_icon{
  width: 100%;
  border-bottom: 1px solid #000;
  text-align: end;
  padding: 10px;
  font-size: xx-large;
  color: orange;
}

.supplier_add_input {
  min-height: 30px;
}

.supplier_section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 30vh;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
  font-family: inherit;
  line-height: 1.5em;
}

.supplier_data_entry {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.supplier_pic_frame {
  width: 170px;
  padding-left: 20px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  margin-left: 10%;
}

.supplier_pic {
  max-width: 128px;
}

.create_button {
  border-radius: 10px;
}

.supplier_data_edit {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 100%;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  line-height: 1.5em;
}

.supplier_data_entry_buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media screen and (max-width: 991px) {
  .page-header {
    position: relative;
  }

  .supplier_section {
    padding-top: 20px;
    border-bottom: 1px solid #000;
  }

  .supplier_data_edit {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .supplier_data_field {
    width: 100%;
    padding-left: 20px;
  }

  .supplier_data_entry_buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

@media screen and (max-width: 767px) {
  .page-header {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .text-block {
    font-size: 26px;
    text-align: center;
  }

  .order-header {
    border-style: none none solid;
  }

  .order-frame {
    margin-bottom: 20px;
    border: 4px solid #000;
  }

  .order-line {
    width: 100%;
    padding-bottom: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    border-bottom: 1px solid #000;
  }

  .order-lines-header-frame {
    display: none;
  }

  .line-column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .line-column.column-1 {
    width: 100%;
  }

  .line-column.column-2 {
    width: 100%;
  }

  .line-column.column-3 {
    width: 100%;
  }

  .line-column.column-4 {
    width: 100%;
  }

  .column-text {
    width: 70%;
    padding-left: 10px;
    text-align: left;
  }

  .item-name {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 30%;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: right;
  }

  .form-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  }

  .checkbox-label {
    display: none;
  }

  .form {
    padding-left: 10px;
  }

  .form-2 {
    margin-top: 15px;
  }

  .admin_panel_section {
    height: 500px;
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .option_frame {
    height: 42%;
  }

  .option_text {
    font-size: 18px;
  }

  .user_section {
    height: 375px;
  }

  .user_section.horizontal {
    padding-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .user_name {
    width: 100%;
  }

  .user_data_1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .user_data_2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  .user_email {
    width: 100%;
    margin-left: 0%;
  }

  .user_password {
    width: 100%;
  }

  .user_password_confirm {
    width: 100%;
    margin-left: 0%;
  }

  .user_add_button {
    width: 100%;
    margin-left: 0%;
  }

  .user_password_section {
    height: 130px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .user_type {
    width: 100%;
    margin-left: 0%;
    display: block;
  }

  .add_user_button {
    font-size: 12px;
  }

  .user_edit_section {
    width: 70%;
    padding-bottom: 20px;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .user_edit_section.center {
    width: 50%;
    height: 60px;
    padding-bottom: 0px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .user_password_reset {
    padding-left: 10%;
    padding-right: 10%;
  }

  .supplier_section {
    min-height: 80vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media screen and (max-width: 479px) {
  .text-block {
    font-size: 18px;
  }

  .option_frame {
    width: 200px;
  }

  .user_form {
    line-height: 1.5em;
  }

  .user_edit_section {
    line-height: 1.5em;
  }

  .user_edit_section.center {
    width: 90%;
  }

  .create_discard_passwd_button {
    font-size: 12px;
  }
}

@font-face {
  font-family: 'Sofia Pro 400';
  src: url('../fonts/SofiaProBold.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sofia Pro 700';
  src: url('../fonts/SofiaProBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Sofiapro';
  src: url('../fonts/sofiapro-light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}