.product_location_section {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000;
}

.prodcut_location_pic {
  width: 170px;
  border-radius: 10px;      
}

.add_location_form_frame {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.add_location {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 30vh;
}

.product_location_add_buttons_frame {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.product_location_data_entry {
  display: flex;
  justify-content: center;
  flex: 1;
  width: 100%;
}

.product_location_pic_frame {
  border-radius: 10px;
  text-align: center;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.product_edit_location_pic_wrap{
  display: flex;
  justify-content: center;
  padding: 0px;
  width: 170px;
  margin-left: 20px;
}

.product_edit_location_pic_frame {
  border-radius: 10px;
  text-align: center;
  width: 100%;
}

.product_location_data_edit {
  width: 80%;
}

.product_location_data_entry_buttons {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.add_location_button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  height: 46px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 15px;
  font-size: 14px;
}

.add_location_button.delete {
  background-color: #ed0000;
}

.add_location_button.edit {
  height: 30px;
}

.location_data_field {
  background-color: dimgray;
  color: white;
  padding: 5px;
  padding-left: 20px;
  min-height: 35px;
  border-radius: 5px;
  width: 100%;
  align-self: center;
}

.add_icon_frame {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  border-bottom: 1px solid black;
}

.add_location_section_wrap {
  position: relative;
}
    
.product_location_text_field {
  width: 100%;
}
  
@media screen and (max-width: 991px) {

  .product_location_data_edit {
      width: 80%;
  }
  
}
  
@media screen and (max-width: 767px) {

  .product_edit_location_pic_wrap{
    padding: 0px;
  }
  
  .product_location_pic_frame {
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .product_location_section{
    display: block;
    padding-top: 20px;
  }

  .add_location_form_frame {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .add_location_button {
    font-size: 12px;
  }

  .product_location_text_field {
    margin-bottom: 60px;
  }

}
    
@media screen and (max-width: 479px) {

    .product_location_add_buttons_frame {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 15vh;
    width: auto;
  }
}

                        