
.supplier_entry{
    width: 100%;
}

.pic_wrap{
    display: flex;
}

.supplier_data_form_block {
    display: block;
    width: 80%;
    padding-right: 20px;
    padding-left: 20px;
}

.supplier_data_form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.supplier_add_error{
    width: 100%;
    text-align: center;
    color: red;
    font-size: x-large;
    line-height: 1.5em;
    padding-top: 30px;
}

.supplier_email_taken{
    width: 100%;
    color: red;
    font-size: 18px;
    line-height: 1.5em;
    padding-left: 10px;
    padding-bottom: 10px;
}

.supplier_add_section{
    display: flex;
    border-bottom: 1px solid black;
    padding-top: 30px;
    padding-bottom: 30px;
}
input, select{
    border-radius: 0.375rem !important;
}


@media screen and (max-width: 767px) {

    .pic_wrap{
        display: block;
        text-align: -webkit-center;
    }

    .supplier_add_section {
        display: block;
    }
}