.errors{
    padding-top: 20px;
}

.create_message{
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

.user_edit_message{
    margin-top: 4%;
    text-align: center;
    font-size: large;
    line-height: 1.5em;
}

input, select{
    border-radius: 0.375rem !important;
}